<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92524616790-utbj3ggulg2ql89fb27r5fj2brjq9lqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92524616790-utbj3ggulg2ql89fb27r5fj2brjq9lqk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>92524616790-ape0bcfv7oo0dt5f3teo0cels0ch1i0l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA40Gb-aLq-AozUAAwfZot358iNKE03xsM</string>
	<key>GCM_SENDER_ID</key>
	<string>92524616790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogifi.applications</string>
	<key>PROJECT_ID</key>
	<string>yogifi-wellnesys-1543926982780</string>
	<key>STORAGE_BUCKET</key>
	<string>yogifi-wellnesys-1543926982780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92524616790:ios:12da7ea12dc6174a</string>
	<key>DATABASE_URL</key>
	<string>https://yogifi-wellnesys-1543926982780.firebaseio.com</string>
</dict>
</plist>